@import "tailwindcss";

@theme {
  --color-primary: #059669;
  --color-primary-dark: #047857;
  --color-danger: #dc2626;
  --color-success: #16a34a;
  --color-muted: #6b7280;
  --font-sans: var(--font-noto-bengali), sans-serif;
  --animate-marquee: marquee 25s linear infinite;
  --breakpoint-xs: 30rem;

  @keyframes marquee {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-100%); }
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}